QtWidgetsApplication1/QtWidgetsApplication1.qrc
QtWidgetsApplication1/x64/Debug/qt_work.log
QtWidgetsApplication1/x64/Debug/moc/moc_QtWidgetsApplication1.cpp
QtWidgetsApplication1/x64/Debug/qmake/qtvars_x64_Debug.props
QtWidgetsApplication1/x64/Debug/qmake/temp/.qmake.stash
QtWidgetsApplication1/x64/Debug/qmake/temp/4EAD69C0-E0F6-44CE-BDA5-DD68DBDE75DC.QtWidgetsApplication1.designtime.idx
QtWidgetsApplication1/x64/Debug/qmake/temp/Makefile
QtWidgetsApplication1/x64/Debug/qmake/temp/props.txt
QtWidgetsApplication1/x64/Debug/qmake/temp/qtvars.log
QtWidgetsApplication1/x64/Debug/qmake/temp/qtvars.pro
QtWidgetsApplication1/x64/Debug/qmake/temp/qtvars_x64_Debug.props
QtWidgetsApplication1/x64/Debug/QtWidget.4EAD69C0.tlog/moc.read.1u.tlog
QtWidgetsApplication1/x64/Debug/QtWidget.4EAD69C0.tlog/moc.write.1u.tlog
QtWidgetsApplication1/x64/Debug/QtWidget.4EAD69C0.tlog/QtWidgetsApplication1.write.1u.tlog
QtWidgetsApplication1/x64/Debug/QtWidget.4EAD69C0.tlog/rcc.read.1u.tlog
QtWidgetsApplication1/x64/Debug/QtWidget.4EAD69C0.tlog/rcc.write.1u.tlog
QtWidgetsApplication1/x64/Debug/QtWidget.4EAD69C0.tlog/uic.read.1u.tlog
QtWidgetsApplication1/x64/Debug/QtWidget.4EAD69C0.tlog/uic.write.1u.tlog
QtWidgetsApplication1/x64/Debug/rcc/qrc_QtWidgetsApplication1.cpp
QtWidgetsApplication1/x64/Debug/uic/ui_QtWidgetsApplication1.h
QtWidgetsApplication1/x64/Release/qt_work.log
QtWidgetsApplication1/x64/Release/moc/moc_QtWidgetsApplication1.cpp
QtWidgetsApplication1/x64/Release/qmake/qtvars_x64_Release.props
QtWidgetsApplication1/x64/Release/qmake/temp/.qmake.stash
QtWidgetsApplication1/x64/Release/qmake/temp/4EAD69C0-E0F6-44CE-BDA5-DD68DBDE75DC.QtWidgetsApplication1.designtime.idx
QtWidgetsApplication1/x64/Release/qmake/temp/Makefile
QtWidgetsApplication1/x64/Release/qmake/temp/props.txt
QtWidgetsApplication1/x64/Release/qmake/temp/qtvars.log
QtWidgetsApplication1/x64/Release/qmake/temp/qtvars.pro
QtWidgetsApplication1/x64/Release/qmake/temp/qtvars_x64_Release.props
QtWidgetsApplication1/x64/Release/QtWidget.4EAD69C0.tlog/moc.read.1u.tlog
QtWidgetsApplication1/x64/Release/QtWidget.4EAD69C0.tlog/moc.write.1u.tlog
QtWidgetsApplication1/x64/Release/QtWidget.4EAD69C0.tlog/QtWidgetsApplication1.write.1u.tlog
QtWidgetsApplication1/x64/Release/QtWidget.4EAD69C0.tlog/rcc.read.1u.tlog
QtWidgetsApplication1/x64/Release/QtWidget.4EAD69C0.tlog/rcc.write.1u.tlog
QtWidgetsApplication1/x64/Release/QtWidget.4EAD69C0.tlog/uic.read.1u.tlog
QtWidgetsApplication1/x64/Release/QtWidget.4EAD69C0.tlog/uic.write.1u.tlog
QtWidgetsApplication1/x64/Release/rcc/qrc_QtWidgetsApplication1.cpp
QtWidgetsApplication1/x64/Release/uic/ui_QtWidgetsApplication1.h
.vs/QtWidgetsApplication1/v16/.suo
.vs/QtWidgetsApplication1/v16/Browse.VC.db
.vs/QtWidgetsApplication1/v16/Browse.VC.db-shm
.vs/QtWidgetsApplication1/v16/Browse.VC.db-wal
.vs/QtWidgetsApplication1/v16/Browse.VC.opendb
.vs/QtWidgetsApplication1/v16/ipch/AutoPCH/7e64f89bcc4a9f4d/QTWIDGETSAPPLICATION1.ipch
